<% provide :title, t("static_pages.title") %>
<div class="jumbotron text-center">
  <div class="header-content-inner">
    <h1><%= t "static_pages.movie_review" %></h1>
    <hr>
    <h3>
      <%= t "static_pages.intro" %>
    </h3>
    <div class="btn btn-danger btn-lg">
      <%= link_to t("static_pages.login"), new_user_session_path %>
    </div>
  </div>
</div>
