<script type="text/javascript" src="http://movies.ndtv.com/static/js/ndtv.min.js?v=20160928"></script>
<div class="container ndmv-main-container">
   <div class="row">
      <div class="ndmv-left-wrapper col-md-12 col-sm-12">
         <div class="ndmv-celeb-filter-wrapper">
         </div>
<div class="w3-content w3-section" style="max-width:900px"></p>

  <img class="mySlides w3-animate-fading" src="assets/banner1.jpg" style="width:100%">
  <img class="mySlides w3-animate-fading" src="assets/banner2.jpg" style="width:100%">
  <img class="mySlides w3-animate-fading" src="assets/banner3.jpeg" style="width:100%">
  <img class="mySlides w3-animate-fading" src="assets/banner4.jpg" style="width:100%">
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 9000);    
}
</script>
<hr>
         <h3><label>Newest Movies</label></h3>
         <hr>
         <%= render "shared/movie_form", movies: @movies %>
      </div>
      <div class="col-md-12 col-sm-12">
         <% if user_signed_in? %>
         <% @movies = get_following_user_movies current_user %>
         <div class="ndmv-celeb-filter-wrapper">
         </div>
         <h3>Friend Liked Movies</h3>
         <% unless @movies.any? %>
           <h4>Your friend didn't bookmarked any movie</h4>
         <% end %>
         <hr>
         <%= render "shared/movie_form", movies: @movies %>
         <% end %>
      </div>
      <div class="ndmv-right-wrapper col-md-4 col-sm-4" id="the-sticky-div" >
         <div class="ndmv-celeb-filter-wrapper">
         </div>
         <div class="ndmv-ad-wrapper">
            <h3><label>Top Rate Movies</label></h3>
            <table class="table">
               <thead>
                  <tr>
                     <th>Name</th>
                     <th>Rate</th>
                  </tr>
               </thead>
               <tbody>
                  <% @top_movies.each do |rdmovie| %>
                  <tr class="success">
                     <td><%= link_to rdmovie.name, movie_path(rdmovie) %></td>
                     <td><%= rdmovie.rates.average :vote %></td>
                  </tr>
                  <% end %>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
<script>
var $window = $(window),
       $stickyEl = $('#the-sticky-div'),
       elTop = $stickyEl.offset().top;

   $window.scroll(function() {
        $stickyEl.toggleClass('sticky', $window.scrollTop() > elTop);
    });
</script>
</body>
</html>

