<b>Kien</b> want to follow you
<form class="follow-btns">
  <input type='hidden' name='notification_id' value="7">
  <span class="follow-btn accept-follow">accept</span> <span class="follow-btn decline-follow">decline</span>
</form>
