// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#number-notification{
  font-size:10px;
  vertical-align: text-top;
}
.notification{
  cursor:pointer;
  color:#333;
  position: relative;
}
.notification-active{
  color:#f9b107;
}
.notification-list{
  padding: 5px;
  margin: 0px;
  position: absolute;
  top: 38px;
  // left:6px;
  background-color: rgba(0, 0, 0,0.6);
  display: none;
  z-index: 2;
}
.notification-item{
  border-bottom: solid 1px #f9b107;
  padding: 5px;
  padding-bottom: 15px;
  width: 300px;
  color:#f9b107;
  text-decoration: none;
  list-style: none;
  float:left;
  z-index: 3;
}
.follow-btns{
  margin-top: 15px;
  float:right;
  display: inline-block;
}

.follow-btn{
  padding: 5px;
  background-color: #f9b107;
  color:BLACK;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
.notification-list-active{
  display: block;
}
.follow-table{
  display: table;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 5px;
}
.follow-tr{
  border-bottom: 1px solid #CCC;
}
.follow-td{
  padding-top: 5px;
  padding-bottom: 5px;
}
.follow-form{
  float:right;
}
