<footer class="ndmv-footer">
   <div class="container">
      <div class="row ndmv-other-footer-link">
         <div class="col-md-16">
            <h4><a href="#" class="ndmv-footer-logo" title="NDTV Movies" src="/assets/movies_logo.png">Movies Reviews</a></h4>
            <ul class="ndmv-footer-blk">
               <li>
                  <h6><a alt="Reviews" title="Reviews" href="#">Funny</a></h6>
                  <ul>
                     <li><a>Top</a></li>
                     <li><a>Newest</a></li>
                     <li><a>All</a></li>
                  </ul>
               </li>
               <li>
                  <h6><a alt="Reviews" title="Reviews" href="#">Action</a></h6>
                  <ul>
                     <li><a>Top</a></li>
                     <li><a>Newest</a></li>
                     <li><a>All</a></li>
                  </ul>
               </li>
               <li>
                  <h6><a alt="Reviews" title="Reviews" href="#">Drama</a></h6>
                  <ul>
                     <li><a>Top</a></li>
                     <li><a>Newest</a></li>
                     <li><a>All</a></li>
                  </ul>
               </li>
               <li>
                  <h6><a alt="Reviews" title="Reviews" href="#">Music</a></h6>
                  <ul>
                     <li><a>Top</a></li>
                     <li><a>Newest</a></li>
                     <li><a>All</a></li>
                  </ul>
               </li>
               <li>
                  <h6><a alt="Reviews" title="Reviews" href="#">Erotic</a></h6>
                  <ul>
                     <li><a>Top</a></li>
                     <li><a>Newest</a></li>
                     <li><a>All</a></li>
                  </ul>
               </li>
               <li>
                  <h6><a alt="Reviews" title="Reviews" href="#">Fantasys</a></h6>
                  <ul>
                     <li><a>Top</a></li>
                     <li><a>Newest</a></li>
                     <li><a>All</a></li>
                  </ul>
               </li>
               <li>
                  <h6><a alt="Reviews" title="Reviews" href="#">History</a></h6>
                  <ul>
                     <li><a>Top</a></li>
                     <li><a>Newest</a></li>
                     <li><a>All</a></li>
                  </ul>
               </li>
               <li>
                  <h6><a alt="Reviews" title="Reviews" href="#">Advanture</a></h6>
                  <ul>
                     <li><a>Top</a></li>
                     <li><a>Newest</a></li>
                     <li><a>All</a></li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="ndmv-footer-nav">
      <div class="container">
         <div class="row">
            <div class="col-md-16 ">
               <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#"> Feedback</a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="row">
         <div class="col-md-16 text-center ndmv-copyright">&copy; Movies Review</div>
      </div>
   </div>
</footer>

