<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path do %>
        <%= image_tag "logo.jpeg", class: "header-img" %>
      <% end %>  
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to t("static_pages.about"), about_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>
